.related-product {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.main-title {
  margin-bottom: 5rem;
}


.image-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 0rem;
}

/*.content-details-pet{
    border: 2px solid #39D496;
  padding: 10px;
  border-radius: 25px;
}*/

