.related-product {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.main-title {
  margin-bottom: 5rem;
}

.image-fluid {
  padding: 10px;
  border-radius: 25px;
  
}

/*.content-details-pet{
    border: 2px solid #39D496;
  padding: 10px;
  border-radius: 25px;
}*/

